body{
  font-family:'Times New Roman', Times, serif
}

.pattern-background {
  background-image: url('../img/pattern.png');
  height: 170px;
  background-repeat: repeat;
  background-color: lightskyblue;
}

div img{
  height: 80px;
  padding-top: 70px;
}


div h1{
  margin-bottom: 0px;
}

div p.grey{
  color: gray;
  margin: 0px;
}

#the-booleaner{
  color: #10a3e3;
}

div img{
  padding-top: 20px;
  height: 100%;
}

div p.description-img{
  color: black;
  font-size: 12px;
  margin: 0px;
}

div p .background-yellow{
  background-color: yellow;
}

table{
  border-collapse: collapse;
  width: 100%;
}

thead th{
  background-color: #10a3e3;
  color: white;
}

td, th {
  
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #b1e5f2;
}
